In [63]:
import pandas as pd

# 1. Data Exploaration and Cleaning

In [64]:
df = pd.read_csv("wppool_growth_data_sample_20k.csv")

In [65]:
df

,user_id,install_date,last_active_date,subscription_type,country,total_sessions,page_views,download_clicks,activation_status,days_active,pro_upgrade_date,plan_type,monthly_revenue,churned
0,1,6/29/2023,7/12/2023,Free,UK,3,15,1,1,13,NaN,NaN,0,1
1,2,4/10/2023,7/25/2023,Free,India,133,665,0,1,106,NaN,NaN,0,0
2,3,10/25/2023,12/7/2023,Free,USA,53,106,0,1,43,NaN,NaN,0,0
3,4,8/26/2023,11/9/2023,Pro,Canada,242,242,0,1,75,11/9/2023,Basic,49,0
4,5,5/14/2023,11/22/2023,Free,UK,12,48,0,1,192,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,5/6/2023,9/29/2023,Free,USA,100,300,0,1,146,NaN,NaN,0,0
19996,19997,9/4/2023,9/21/2023,Pro,Germany,93,372,0,1,17,9/21/2023,Basic,49,1
19997,19998,4/1/2023,6/14/2023,Free,India,37,185,0,1,74,NaN,NaN,0,0
19998,19999,1/28/2023,12/26/2023,Pro,Australia,99,198,0,1,332,12/26/2023,Enterprise,29,0
19999,20000,12/31/2023,1/1/2024,Free,Canada,141,282,0,1,1,NaN,NaN,0,1

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   user_id            20000 non-null  int64
 1   install_date       20000 non-null  object
 2   last_active_date   20000 non-null  object
 3   subscription_type  20000 non-null  object
 4   country            20000 non-null  object
 5   total_sessions     20000 non-null  int64
 6   page_views         20000 non-null  int64
 7   download_clicks    20000 non-null  int64
 8   activation_status  20000 non-null  int64
 9   days_active        20000 non-null  int64
 10  pro_upgrade_date   4029 non-null   object
 11  plan_type          4029 non-null   object
 12  monthly_revenue    20000 non-null  int64
 13  churned            20000 non-null  int64
dtypes: int64(8), object(6)
memory usage: 2.1+ MB

In [67]:
df.head()

,user_id,install_date,last_active_date,subscription_type,country,total_sessions,page_views,download_clicks,activation_status,days_active,pro_upgrade_date,plan_type,monthly_revenue,churned
0,1,6/29/2023,7/12/2023,Free,UK,3,15,1,1,13,NaN,NaN,0,1
1,2,4/10/2023,7/25/2023,Free,India,133,665,0,1,106,NaN,NaN,0,0
2,3,10/25/2023,12/7/2023,Free,USA,53,106,0,1,43,NaN,NaN,0,0
3,4,8/26/2023,11/9/2023,Pro,Canada,242,242,0,1,75,11/9/2023,Basic,49,0
4,5,5/14/2023,11/22/2023,Free,UK,12,48,0,1,192,NaN,NaN,0,0

In [68]:
# Checking for missing data
missing_values = df.isnull().sum()
missing_values

user_id                  0
install_date             0
last_active_date         0
subscription_type        0
country                  0
total_sessions           0
page_views               0
download_clicks          0
activation_status        0
days_active              0
pro_upgrade_date     15971
plan_type            15971
monthly_revenue          0
churned                  0
dtype: int64

In [69]:
# Checking for duplicates
duplicates = df.duplicated().sum()
duplicates

0

In [70]:
# checking data types of column
df.dtypes

user_id               int64
install_date         object
last_active_date     object
subscription_type    object
country              object
total_sessions        int64
page_views            int64
download_clicks       int64
activation_status     int64
days_active           int64
pro_upgrade_date     object
plan_type            object
monthly_revenue       int64
churned               int64
dtype: object

In [71]:
# checking for inconsistency data
categorical_columns = ['install_date','last_active_date','subscription_type', 'country','pro_upgrade_date','plan_type']
inconsistencies = {col: df[col].value_counts() for col in categorical_columns}
inconsistencies

{'install_date': 8/13/2023     83
 3/5/2023      75
 1/29/2023     74
 9/27/2023     73
 6/8/2023      71
               ..
 10/18/2023    39
 7/26/2023     36
 12/30/2023    36
 9/6/2023      35
 3/23/2023     35
 Name: install_date, Length: 366, dtype: int64,
 'last_active_date': 1/1/2024      328
 12/31/2023    320
 12/29/2023    253
 12/30/2023    239
 12/27/2023    232
              ...
 1/8/2023        1
 1/12/2023       1
 1/3/2023        1
 1/9/2023        1
 1/16/2023       1
 Name: last_active_date, Length: 357, dtype: int64,
 'subscription_type': Free    15971
 Pro      4029
 Name: subscription_type, dtype: int64,
 'country': India        2914
 Canada       2899
 UK           2869
 France       2849
 USA          2848
 Germany      2832
 Australia    2789
 Name: country, dtype: int64,
 'pro_upgrade_date': 12/31/2023    73
 12/30/2023    60
 1/1/2024      55
 12/26/2023    53
 12/28/2023    49
               ..
 2/3/2023       1
 2/27/2023      1
 3/3/2023       1
 3/15/2023      1
 5/9/2023       1
 Name: pro_upgrade_date, Length: 337, dtype: int64,
 'plan_type': Basic         1361
 Enterprise    1336
 Standard      1332
 Name: plan_type, dtype: int64}

#### Explain how you handled missing data and why you chose that method:
In this dataset, missing data was primarily present in the 'pro_upgrade_date' and 'plan_type' columns.
Dropped Rows with Missing Values: I chose to drop rows with missing values in these columns ('pro_upgrade_date' and 'plan_type').
Imputation (Filling Missing Values): In cases like this, imputing the missing values could lead to misleading results, as users who haven't upgraded may be treated as having a default upgrade date or plan, which wouldn't reflect the reality of the data.
Row Deletion: By deleting rows with missing values in these columns, the remaining data retains its integrity and is consistent with the analysis objectives. This method avoids introducing potential bias into the dataset

In [72]:
# Filling rows where 'pro_upgrade_date' or 'plan_type' are missing:
df.fillna(0, inplace=True)
df
# # Ensure that the data is cleaned properly by checking for missing values:
# missing_values = df.isnull().sum()

# # Display the cleaned data and missing values summary:
# print("Missing Values After Cleaning:")
# missing_values

,user_id,install_date,last_active_date,subscription_type,country,total_sessions,page_views,download_clicks,activation_status,days_active,pro_upgrade_date,plan_type,monthly_revenue,churned
0,1,6/29/2023,7/12/2023,Free,UK,3,15,1,1,13,0,0,0,1
1,2,4/10/2023,7/25/2023,Free,India,133,665,0,1,106,0,0,0,0
2,3,10/25/2023,12/7/2023,Free,USA,53,106,0,1,43,0,0,0,0
3,4,8/26/2023,11/9/2023,Pro,Canada,242,242,0,1,75,11/9/2023,Basic,49,0
4,5,5/14/2023,11/22/2023,Free,UK,12,48,0,1,192,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,5/6/2023,9/29/2023,Free,USA,100,300,0,1,146,0,0,0,0
19996,19997,9/4/2023,9/21/2023,Pro,Germany,93,372,0,1,17,9/21/2023,Basic,49,1
19997,19998,4/1/2023,6/14/2023,Free,India,37,185,0,1,74,0,0,0,0
19998,19999,1/28/2023,12/26/2023,Pro,Australia,99,198,0,1,332,12/26/2023,Enterprise,29,0
19999,20000,12/31/2023,1/1/2024,Free,Canada,141,282,0,1,1,0,0,0,1

In [73]:
df

,user_id,install_date,last_active_date,subscription_type,country,total_sessions,page_views,download_clicks,activation_status,days_active,pro_upgrade_date,plan_type,monthly_revenue,churned
0,1,6/29/2023,7/12/2023,Free,UK,3,15,1,1,13,0,0,0,1
1,2,4/10/2023,7/25/2023,Free,India,133,665,0,1,106,0,0,0,0
2,3,10/25/2023,12/7/2023,Free,USA,53,106,0,1,43,0,0,0,0
3,4,8/26/2023,11/9/2023,Pro,Canada,242,242,0,1,75,11/9/2023,Basic,49,0
4,5,5/14/2023,11/22/2023,Free,UK,12,48,0,1,192,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,5/6/2023,9/29/2023,Free,USA,100,300,0,1,146,0,0,0,0
19996,19997,9/4/2023,9/21/2023,Pro,Germany,93,372,0,1,17,9/21/2023,Basic,49,1
19997,19998,4/1/2023,6/14/2023,Free,India,37,185,0,1,74,0,0,0,0
19998,19999,1/28/2023,12/26/2023,Pro,Australia,99,198,0,1,332,12/26/2023,Enterprise,29,0
19999,20000,12/31/2023,1/1/2024,Free,Canada,141,282,0,1,1,0,0,0,1

#### Provide a summary of the dataset, including the distribution of Free vs. Pro users:

In [74]:
df.describe(include='all')

,user_id,install_date,last_active_date,subscription_type,country,total_sessions,page_views,download_clicks,activation_status,days_active,pro_upgrade_date,plan_type,monthly_revenue,churned
count,20000.000000,20000,20000,20000,20000,20000.000000,20000.000000,20000.000000,20000.000000,20000.00000,20000.0,20000.0,20000.000000,20000.000000
unique,NaN,366,357,2,7,NaN,NaN,NaN,NaN,NaN,338.0,4.0,NaN,NaN
top,NaN,8/13/2023,1/1/2024,Free,India,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
freq,NaN,83,328,15971,2914,NaN,NaN,NaN,NaN,NaN,15971.0,15971.0,NaN,NaN
mean,10000.500000,NaN,NaN,NaN,NaN,91.914500,276.308900,0.102250,0.990550,91.28080,NaN,NaN,11.774050,0.285250
std,5773.647028,NaN,NaN,NaN,NaN,62.523862,244.775351,0.302984,0.096753,80.67644,NaN,NaN,26.845358,0.451545
min,1.000000,NaN,NaN,NaN,NaN,1.000000,1.000000,0.000000,0.000000,0.00000,NaN,NaN,0.000000,0.000000
25%,5000.750000,NaN,NaN,NaN,NaN,44.000000,96.000000,0.000000,1.000000,24.00000,NaN,NaN,0.000000,0.000000
50%,10000.500000,NaN,NaN,NaN,NaN,85.000000,208.000000,0.000000,1.000000,68.00000,NaN,NaN,0.000000,0.000000
75%,15000.250000,NaN,NaN,NaN,NaN,126.000000,396.000000,0.000000,1.000000,140.00000,NaN,NaN,0.000000,1.000000
max,20000.000000,NaN,NaN,NaN,NaN,300.000000,1500.000000,1.000000,1.000000,364.00000,NaN,NaN,99.000000,1.000000

In [75]:
subscription_distribution = df['subscription_type'].value_counts()
subscription_distribution

Free    15971
Pro      4029
Name: subscription_type, dtype: int64